.bglogo{
        background-color: blue
        

}
.bg2{
        background-image: url("../img/pattern.png");
        background-repeat: repeat;
        background-size: auto;
        height: auto;

}

.thebooleaner{
        background-size: 30px;
        width: 150px;
        margin-top: 50px;
}
.title2{
        color: grey;
        
}




.autore{
        color:aqua

}

.data{
        color:grey
       

}

.m-0{
     margin: 0;   

}
.mt-3{
        margin-top: 30px;
}       
.underline{
        background-color: yellow;


}
.p-10{
        padding-inline-start: 10px;


}
.col25{
        width: 25%;
        text-align: left;



}

.col50{
        width: 50%;
        text-align: left;

}
.colourceleste{
        background-color: rgb(0, 110, 255);


}

.colourblue{
        background-color: aqua;


}
.displayblock{
        display:block
        


}
.ultimaimmagine{
        background-image:url("../img/monitor.jpg");
        

}

.ultimaimmagine2{
        background-image:url("../img/graph.jpg");

        
}
.ultimaimmagine3{
        background-size: cover;
        width: 300px;
        height: 300px;
        color: white;
font-size: 20px;
padding-left: 10px;

}